/tinyxml/intermediate
/tinyxml/binaries
/pds_toolbox/binaries
/pds_toolbox/intermediate
/cfitsio/binaries
/cfitsio/intermediate
/liberator/intermediate
/liberator/project/windows/.vs
*.vcxproj.user
*.pdb
/liberator/binaries/FL_30_Win.exe
/liberator/project/windows/FitsLiberator.sdf
/liberator/project/windows/FitsLiberator.VC.db
/liberator/project/windows/FitsLiberator.v11.suo
*.obj
*.log
/libtiff/project/Release
/.vs
/cfitsio/project/CTestTestfile.cmake
/cfitsio/project/testprog.tpt
/cfitsio/project/cfitsio.vcxproj.user
/cfitsio/project/ALL_BUILD.vcxproj
/cfitsio/project/cookbook.vcxproj
/cfitsio/project/Fitscopy.vcxproj
/cfitsio/project/FPack.vcxproj
/cfitsio/project/Funpack.vcxproj
/cfitsio/project/INSTALL.vcxproj
/cfitsio/project/RUN_TESTS.vcxproj
/cfitsio/project/TestProg.vcxproj
/cfitsio/project/ZERO_CHECK.vcxproj
/cfitsio/project/ALL_BUILD.vcxproj.filters
/cfitsio/project/cookbook.vcxproj.filters
/cfitsio/project/Fitscopy.vcxproj.filters
/cfitsio/project/FPack.vcxproj.filters
/cfitsio/project/Funpack.vcxproj.filters
/cfitsio/project/INSTALL.vcxproj.filters
/cfitsio/project/RUN_TESTS.vcxproj.filters
/cfitsio/project/TestProg.vcxproj.filters
/cfitsio/project/ZERO_CHECK.vcxproj.filters
/cfitsio/project/CFITSIO.sln
/cfitsio/project/cfitsio.dir
/cfitsio/project/CMakeFiles
/cfitsio/project/Debug
/cfitsio/project/CMakeCache.txt
/cfitsio/project/cmake_install.cmake
/cfitsio/project/Release
